.overlay{
    /* visibility: hidden; */
    /* display: none; */
    bottom: 10%;
    z-index: 1;
    position: fixed;
    left: 75%;
    text-align: center;
    /* display: inline; */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
.overlay.hide{
  /* visibility: show; */
  -webkit-animation: fadeout 2.5s;
  animation: fadeout 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 10%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 10%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
